html {
    background-color: #000000;
}
body {
    color: #ffffff;
    background-color: #000000;
}
.head_setting{
    color: #b2b2b2;
}
.head_setting, .table_main, .inventory {
    background-color: #000000;
    border-color: #404040 #0a0a0a #0a0a0a #404040;
}
.lent {
    color: #1792d5;
    background-color: #0a0a0a;
    background-image: -webkit-linear-gradient(top, #404040 0%, #020202 100%);
    background-image: -moz-linear-gradient(top, #404040 0%, #020202 100%);
    background-image: -ms-linear-gradient(top, #404040 0%, #020202 100%);
    background-image: -o-linear-gradient(top, #404040 0%, #020202 100%);
    background-image: linear-gradient(to bottom, #404040 0%, #020202 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#404040',endColorstr='#020202',GradientType=0);
    border-top: 2px solid #404040;
    border-bottom: 2px solid #262626;
}
.table_msg, .table_msg2, .table_mbutton, .table_minecraft_radio, .spoiler_wrap > .spoiler_body {
    background-color: black;
    border: 1px solid #404040;
}
.c_red {
    color: #bf0000 !important;
}
.c_green {
    color: #008b00 !important;
}
.c_blue {
    color: #4955ff !important;
}
.c_black {
    color: #fff !important;
}
.c_gray_light {
    color: #2e2e2e !important;
}
.c_gray_dark {
    color: #d3d3d3 !important;
}

.minecraft_button, .spoiler_wrap > .spoiler_head, input.minecraft_file::file-selector-button {
    color: #d9d9d9;
    background-color: #121212;
    border-color: #404040 #242424 #242424 #404040;
    box-shadow: 0 0 0 1px #7e7e7e;
}
.minecraft_button:hover, .minecraft_button:active, .minecraft_button.on,
.spoiler_wrap > .spoiler_head:hover,
.spoiler_wrap > .spoiler_head:active,
input.minecraft_file:hover::file-selector-button,
input.minecraft_file:active::file-selector-button{
    color: #d9d9d9;
    background-color: #0e2c0d;
    border-color: #1f500b #0a2400 #0a2400 #1f500b;
}
.mbutton {
    color: #009364;
    background-color: #101010;
    border-color: #404040 #242424 #242424 #404040;
}
.mbutton:hover {
    background-color: #000830;
    border-color: #002667 #001c41 #001c41 #002667;
}
.minecraft_textarea, input.minecraft_input {
    color: white;
    background-color: #202020;
    border-color: #404040 #000 #404040;
}

parsererror {
    background-color: #720000 !important;
    border: 1px solid white !important;
}
parsererror > div:before {
    color: #ff7b7b;
}
.progress {
    background-color: black;
    outline: 1px solid #616161;
}
.progress.arena > .progress_rating.red {
    background-color: #ab0000;
}
.progress.arena > .progress_rating.yellow {
    background-color: #cea329;
}
.progress.quiz {
    color: #c7c7c7;
}
.progress.quiz > .progress_rating {
    background-color: #29288a;
}
.table_error {
    color: #ffbebe;
    background-color: #450000;
    border: 2px outset #660000;
}
.bbcode_warning {
    color: #d7d7d7;
    background-color: #634802;
    border: 1px solid #b8b8b8;
}
.page_button.selected {
    color: #ffffff;
    background-color: #595907;
}
a {
    color: #aa4000;
}
.myblock_slot.myblock_slot_red {
    box-shadow: 0 0 0 3px #b30000;
}
.myblock_slot.myblock_slot_orange {
    box-shadow: 0 0 0 3px #c55900;
}
.myblock_slot.myblock_slot_green {
    box-shadow: 0 0 0 3px #0c900c;
}
.myblock_slot.myblock_slot_blue {
    box-shadow: 0 0 0 3px #7575b7;
}
.myblock_slot.myblock_slot_white {
    box-shadow: 0 0 0 3px #8e8e8e;
}
.invslot {
    background-color: #292929;
    border-color: #1f1f1f #4d4d4d #4d4d4d #1f1f1f;
}
.invslot:hover {
    background-color: #3a681e;
    border-color: #7d7d7d;
}
.invslot.selected {
    outline: 4px solid #007686;
}
table.cool tr:first-child > td, table.cool tr:first-child > th {
    border-top: 1px solid #616161;
}
table.cool td:first-child, table.cool th:first-child {
    border-left: 1px solid #616161;
}
table.cool tr > td, table.cool tr > th {
    border-bottom: 1px solid #616161;
}
table.cool td:last-child, table.cool th:last-child {
    border-right: 1px solid #616161;
}
table.cool th {
    color: #dbdbdb;
    background-color: #262626;
    background-image: -webkit-linear-gradient(top, #484848 0%, #000000 100%);
    background-image: -moz-linear-gradient(top, #484848 0%, #000000 100%);
    background-image: -ms-linear-gradient(top, #484848 0%, #000000 100%);
    background-image: -o-linear-gradient(top, #484848 0%, #000000 100%);
    background-image: linear-gradient(to bottom, #484848 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#484848,endColorstr=#000000);
}
table.cool td {
    color: #008cce;
}
pre.cool, code {
    color: #fff;
    background-color: #2a2a2a;
    border: 1px solid #757575;
}
.panel.blue {
    background-color: #003264;
    border-color: #006eb3;
}
.panel.green {
    background-color: #004600;
    border-color: #008800;
}
.panel.orange, .panel.warning {
    background-color: #714800;
    border-color: #b27402;
}
.panel.gray {
    background-color: #3a3a3a;
    border-color: #717171;
}
.table_msg2 > .table_header, .fanswer > .table_header {
    background-color: #343434;
    border-bottom: 1px solid #878787;
}
.fanswer {
    background-color: #191919;
    border-color: #949494 #585858;
}
div.beta_block {
    background-color: #555555;
    border-bottom: 1px solid #a8a8a8;
}
